<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ViewControllers</key>
	<array>
		<string>MainViewController</string>
		<string>PhotoViewController</string>
		<string>NewsViewController</string>
		<string>MenuViewController</string>
		<string>IntroductionViewController</string>
		<string>LocationViewController</string>
		<string>EventViewController</string>
		<string>WeiboViewController</string>
		<string>LinkViewController</string>
		<string>FanWallViewController</string>
		<string>ArticlesViewController</string>
		<string>SettingsViewController</string>
	</array>
	<key>AppTabBarNameConfig</key>
	<dict>
		<key>MainViewController</key>
		<string>主页</string>
		<key>PhotoViewController</key>
		<string>相册</string>
		<key>NewsViewController</key>
		<string>新闻</string>
		<key>SettingsViewController</key>
		<string>设置</string>
		<key>IntroductionViewController</key>
		<string>简介</string>
		<key>LocationViewController</key>
		<string>导航</string>
		<key>EventViewController</key>
		<string>活动</string>
		<key>WeiboViewController</key>
		<string>微博</string>
		<key>LinkViewController</key>
		<string>链接</string>
		<key>FanWallViewController</key>
		<string>粉丝墙</string>
		<key>ArticlesViewController</key>
		<string>文集</string>
		<key>MenuViewController</key>
		<string>目录</string>
	</dict>
	<key>AppColorConfig</key>
	<dict>
		<key>NavigationBarTint</key>
		<array>
			<integer>100</integer>
			<integer>150</integer>
			<integer>20</integer>
		</array>
		<key>TabBarTint</key>
		<array>
			<integer>30</integer>
			<integer>27</integer>
			<integer>23</integer>
		</array>
		<key>TabBarSelectedImageTintColor</key>
		<array>
			<integer>30</integer>
			<integer>200</integer>
			<integer>23</integer>
		</array>
		<key>NavigationBarTitleColor</key>
		<array>
			<integer>247</integer>
			<integer>240</integer>
			<integer>223</integer>
			<integer>1</integer>
		</array>
	</dict>
	<key>IntroductionViewConfig</key>
	<dict>
		<key>content</key>
		<string>理想国（imaginist），是广西师范大学出版社北京贝贝特出版公司于2010年秋全新推出的文化品牌。理想国今后将以人文、艺术类图书出版为核心，并逐渐向创意产品、影视传媒、文化活动等多领域拓展，力图成为更具包容性、前瞻性，同时内涵更丰富的文化品牌。

十年来，北京贝贝特向读者奉献出一系列兼具思想价值与人文情怀的图书，如陈丹青的《退步集》、梁文道的《常识》，以及木心作品集、唐德刚作品集、韦伯作品集、“温故系列”、“电影馆”、“百家讲坛系列”等，还有近来受到年青读者喜爱的林夕、蒋勋、舒国治、张大春等人的作品。2010年和2011年，成功举办了两届“理想国年度文化沙龙”。

我们的理念是“想象另一种可能”，它不是要提供一个乌托邦，而是希望唤醒对于理想本身的热情； 对于它自身的可能性，我们亦在持续地想象与探寻。我们相信每个微小理想的力量，而许许多多色彩斑斓的理想，将汇聚成为“理想国”。</string>
		<key>phone</key>
		<string>01088003091</string>
		<key>email</key>
		<string>imaginist2010@gmail.com</string>
		<key>bodyColor</key>
		<array>
			<integer>113</integer>
			<integer>113</integer>
			<integer>113</integer>
			<integer>1</integer>
		</array>
	</dict>
	<key>PhotoViewConfig</key>
	<dict>
		<key>textColor</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>255</integer>
			<integer>1</integer>
		</array>
	</dict>
	<key>NewsViewConfig</key>
	<dict>
		<key>TableCellTitleColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<key>TableCellDateColor</key>
		<array>
			<integer>120</integer>
			<integer>120</integer>
			<integer>120</integer>
			<integer>1</integer>
		</array>
		<key>TableCellSeperator</key>
		<array>
			<integer>143</integer>
			<integer>143</integer>
			<integer>143</integer>
			<integer>1</integer>
		</array>
		<key>BodyTitleColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<key>BodyDateColor</key>
		<array>
			<integer>120</integer>
			<integer>120</integer>
			<integer>120</integer>
			<integer>1</integer>
		</array>
		<key>BodySeperatorColor</key>
		<array>
			<integer>143</integer>
			<integer>143</integer>
			<integer>143</integer>
			<integer>1</integer>
		</array>
		<key>BodyContentColor</key>
		<array>
			<integer>113</integer>
			<integer>113</integer>
			<integer>113</integer>
			<integer>1</integer>
		</array>
		<key>BodyBarColor</key>
		<array>
			<integer>30</integer>
			<integer>27</integer>
			<integer>23</integer>
			<integer>1</integer>
		</array>
	</dict>
	<key>LocationViewConfig</key>
	<dict>
		<key>address</key>
		<string>中国 北京市东城区和平里兴化东里26号</string>
		<key>time</key>
		<string>9:01 -- 20:00</string>
		<key>phone</key>
		<string>01084255528</string>
		<key>content</key>
		<string>北京地铁5号线 和平里北街站A2出口</string>
		<key>lng</key>
		<real>116.4225223</real>
		<key>lat</key>
		<real>39.9561256</real>
		<key>tableSeperatorColor</key>
		<array>
			<integer>169</integer>
			<integer>160</integer>
			<integer>148</integer>
			<integer>1</integer>
		</array>
		<key>cellColor</key>
		<array>
			<integer>236</integer>
			<integer>227</integer>
			<integer>218</integer>
			<integer>1</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
		</array>
	</dict>
	<key>SettingsViewConfig</key>
	<dict>
		<key>RateURL</key>
		<string>http://www.baidu.com</string>
	</dict>
	<key>MenuViewConfig</key>
	<dict>
		<key>MenuViewTableCellTitleColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<key>MenuViewTableCellSeperatorColor</key>
		<array>
			<integer>143</integer>
			<integer>143</integer>
			<integer>143</integer>
			<integer>1</integer>
		</array>
		<key>MenuListViewTableCellTitleColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<key>MenuListViewTableCellSubtitleColor</key>
		<array>
			<integer>114</integer>
			<integer>114</integer>
			<integer>114</integer>
			<integer>1</integer>
		</array>
		<key>MenuListViewTableCellPriceColor</key>
		<array>
			<integer>114</integer>
			<integer>114</integer>
			<integer>114</integer>
			<integer>1</integer>
		</array>
		<key>MenuListViewTableCellSeperatorColor</key>
		<array>
			<integer>114</integer>
			<integer>200</integer>
			<integer>114</integer>
			<integer>1</integer>
		</array>
		<key>MenuDetailViewBodyColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>189</integer>
			<integer>1</integer>
		</array>
		<key>MenuDetailViewTitleColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<key>MenuDetailViewSubtitleColor</key>
		<array>
			<integer>0</integer>
			<integer>123</integer>
			<integer>0</integer>
			<integer>1</integer>
		</array>
	</dict>
	<key>ReviewViewConfig</key>
	<dict>
		<key>TableCellSeperator</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<key>TableCellTitleColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<key>TableCellUserAndDateColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
		</array>
	</dict>
</dict>
</plist>
